body{
    /* background-image: url(background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    background-color: black;
    margin:0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    top:0px;
}
li {
    float: left;
  }
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover{
    background-color: black;
    color:white;
  }
li a:active{
    background-color: black;
    color:white;
  }
.navbar-text{
    padding: 14px 16px;
    float:right;
    font-weight: bolder;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutme{
    width: 300px;
    height:550px;
    padding: 15px;
    background-color: white;
}
.project-item {
    width: 500px;
    height: 450px;
    margin: 10px;
    background-color: white;
    padding:15px;
}
.project-item img{
    height: 50%;
    width:100%;
}
.aboutme img{
    height: 50%;
    width:100%;
}

h2{
    color: white;
    text-align: center;
}